MAIRecorder/obj/x86/Debug/MAIRecorder.pdb
MAIRecorder/obj/x86/Debug/MAIRecorder.Properties.Resources.resources
MAIRecorder/obj/x86/Debug/MAIRecorder.PWMChannel.resources
MAIRecorder/obj/x86/Debug/MAIRecorder.UCConterValue.resources
MAIRecorder/obj/x86/Debug/MAIRecorder.UCFuncGenChan.resources
MAIRecorder/obj/x86/Debug/MAIRecorder.UCOutputSettingsPWMChannel.resources
MAIRecorder/obj/x86/Debug/ResolveAssemblyReference.cache
MAIRecorder/obj/x86/Debug/TempPE/Messages.Designer.cs.dll
MAIRecorder/obj/x86/Debug/TempPE/Properties.Resources.Designer.cs.dll
MAIRecorder/obj/x86/Release/MAIRecorder.ADChannel.resources
MAIRecorder/obj/x86/Release/MAIRecorder.ADChannelSmall.resources
MAIRecorder/obj/x86/Release/MAIRecorder.ADSetup.resources
MAIRecorder/obj/x86/Release/MAIRecorder.ADSetupIEPE.resources
MAIRecorder/obj/x86/Release/MAIRecorder.AudioCardWindow.resources
MAIRecorder/obj/x86/Release/MAIRecorder.CardWindow.resources
MAIRecorder/obj/x86/Release/MAIRecorder.CounterConfigPanelFrequency.resources
MAIRecorder/obj/x86/Release/MAIRecorder.CounterConfigPanelImpulse.resources
MAIRecorder/obj/x86/Release/MAIRecorder.CounterConfigPanelIncExtTimestamp.resources
MAIRecorder/obj/x86/Release/MAIRecorder.CounterConfigPanelIncremental.resources
MAIRecorder/obj/x86/Release/MAIRecorder.CounterConfigPanelPeriodPulsewidth.resources
MAIRecorder/obj/x86/Release/MAIRecorder.CounterConfigPanelUpDown.resources
MAIRecorder/obj/x86/Release/MAIRecorder.csproj.FileListAbsolute.txt
MAIRecorder/obj/x86/Release/MAIRecorder.csproj.GenerateResource.Cache
MAIRecorder/obj/x86/Release/MAIRecorder.CTChannel.resources
MAIRecorder/obj/x86/Release/MAIRecorder.CTSetup.resources
MAIRecorder/obj/x86/Release/MAIRecorder.DAChannelSmall.resources
MAIRecorder/obj/x86/Release/MAIRecorder.DIOChannel.resources
MAIRecorder/obj/x86/Release/MAIRecorder.exe
MAIRecorder/obj/x86/Release/mairecorder.exe.licenses
MAIRecorder/obj/x86/Release/MAIRecorder.Form1.resources
MAIRecorder/obj/x86/Release/MAIRecorder.FormAddETH.resources
MAIRecorder/obj/x86/Release/MAIRecorder.FormChooseOutputWave.resources
MAIRecorder/obj/x86/Release/MAIRecorder.FormConfigPeriodCounter.resources
MAIRecorder/obj/x86/Release/MAIRecorder.FormDSTargetConfigBase.resources
MAIRecorder/obj/x86/Release/MAIRecorder.FormDSTargetCSV.resources
MAIRecorder/obj/x86/Release/MAIRecorder.FormDSTargetDB.resources
MAIRecorder/obj/x86/Release/MAIRecorder.FormDSTargetRAW.resources
MAIRecorder/obj/x86/Release/MAIRecorder.FormDSTargetTAFFMAT.resources
MAIRecorder/obj/x86/Release/MAIRecorder.FormDSTargetTDMS.resources
MAIRecorder/obj/x86/Release/MAIRecorder.FormDSTargetWAV.resources
MAIRecorder/obj/x86/Release/MAIRecorder.FormMeasureAD.resources
MAIRecorder/obj/x86/Release/MAIRecorder.FormMeasureCT.resources
MAIRecorder/obj/x86/Release/MAIRecorder.FormOutput_PWM_FM.resources
MAIRecorder/obj/x86/Release/MAIRecorder.FormOutputWaveForms.resources
MAIRecorder/obj/x86/Release/MAIRecorder.pdb
MAIRecorder/obj/x86/Release/MAIRecorder.Properties.Resources.resources
MAIRecorder/obj/x86/Release/MAIRecorder.PWMChannel.resources
MAIRecorder/obj/x86/Release/MAIRecorder.UCConterValue.resources
MAIRecorder/obj/x86/Release/MAIRecorder.UCFuncGenChan.resources
MAIRecorder/obj/x86/Release/MAIRecorder.UCOutputSettingsPWMChannel.resources
MAIRecorder/obj/x86/Release/ResolveAssemblyReference.cache
MAIRecorder/obj/Debug/MAIRecorder.csproj.FileListAbsolute.txt
MAIRecorder/obj/Debug/MAIRecorder.csproj.GenerateResource.Cache
MAIRecorder/obj/Debug/MAIRecorder.exe
MAIRecorder/obj/Debug/mairecorder.exe.licenses
MAIRecorder/obj/Debug/MAIRecorder.Form1.resources
MAIRecorder/obj/Debug/MAIRecorder.pdb
MAIRecorder/obj/Debug/MAIRecorder.Properties.Resources.resources
MAIRecorder/obj/Release/build.force
MAIRecorder/obj/x86/Debug/de/MAIRecorder.resources.dll
MAIRecorder/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
MAIRecorder/obj/x86/Debug/MAIRecorder.ADChannel.resources
MAIRecorder/obj/x86/Debug/MAIRecorder.ADChannelSmall.resources
MAIRecorder/obj/x86/Debug/MAIRecorder.ADSetup.resources
MAIRecorder/obj/x86/Debug/MAIRecorder.ADSetupIEPE.resources
MAIRecorder/obj/x86/Debug/MAIRecorder.AudioCardWindow.resources
MAIRecorder/obj/x86/Debug/MAIRecorder.CardWindow.resources
MAIRecorder/obj/x86/Debug/MAIRecorder.CounterConfigPanelFrequency.resources
MAIRecorder/obj/x86/Debug/MAIRecorder.CounterConfigPanelImpulse.resources
MAIRecorder/obj/x86/Debug/MAIRecorder.CounterConfigPanelIncExtTimestamp.resources
MAIRecorder/obj/x86/Debug/MAIRecorder.CounterConfigPanelIncremental.resources
MAIRecorder/obj/x86/Debug/MAIRecorder.CounterConfigPanelPeriodPulsewidth.resources
MAIRecorder/obj/x86/Debug/MAIRecorder.CounterConfigPanelUpDown.resources
MAIRecorder/obj/x86/Debug/MAIRecorder.csproj.FileListAbsolute.txt
MAIRecorder/obj/x86/Debug/MAIRecorder.csproj.GenerateResource.Cache
MAIRecorder/obj/x86/Debug/MAIRecorder.csprojResolveAssemblyReference.cache
MAIRecorder/obj/x86/Debug/MAIRecorder.CTChannel.resources
MAIRecorder/obj/x86/Debug/MAIRecorder.CTSetup.resources
MAIRecorder/obj/x86/Debug/MAIRecorder.DAChannelSmall.resources
MAIRecorder/obj/x86/Debug/MAIRecorder.DIOChannel.resources
MAIRecorder/obj/x86/Debug/MAIRecorder.exe
MAIRecorder/obj/x86/Debug/mairecorder.exe.licenses
MAIRecorder/obj/x86/Debug/MAIRecorder.Form1.resources
MAIRecorder/obj/x86/Debug/MAIRecorder.FormAddETH.resources
MAIRecorder/obj/x86/Debug/MAIRecorder.FormChooseOutputWave.resources
MAIRecorder/obj/x86/Debug/MAIRecorder.FormConfigPeriodCounter.resources
MAIRecorder/obj/x86/Debug/MAIRecorder.FormDSTargetConfigBase.resources
MAIRecorder/obj/x86/Debug/MAIRecorder.FormDSTargetCSV.resources
MAIRecorder/obj/x86/Debug/MAIRecorder.FormDSTargetDB.resources
MAIRecorder/obj/x86/Debug/MAIRecorder.FormDSTargetRAW.resources
MAIRecorder/obj/x86/Debug/MAIRecorder.FormDSTargetTAFFMAT.resources
MAIRecorder/obj/x86/Debug/MAIRecorder.FormDSTargetTDMS.resources
MAIRecorder/obj/x86/Debug/MAIRecorder.FormDSTargetWAV.resources
MAIRecorder/obj/x86/Debug/MAIRecorder.FormMeasureAD.resources
MAIRecorder/obj/x86/Debug/MAIRecorder.FormMeasureCT.resources
MAIRecorder/obj/x86/Debug/MAIRecorder.FormOutput_PWM_FM.resources
MAIRecorder/obj/x86/Debug/MAIRecorder.FormOutputWaveForms.resources
MAIRecorder/obj/x86/Debug/MAIRecorder.Messages.de.resources
MAIRecorder/obj/x86/Debug/MAIRecorder.Messages.resources
MAIRecorder.suo
MAIRecorder/bin/Debug/de/MAI.Controls.Configuration.resources.dll
MAIRecorder/bin/Debug/MAI.Controls.Configuration.dll
MAIRecorder/bin/Debug/MAI.Controls.Configuration.pdb
MAIRecorder/bin/Debug/MAI.Controls.Configuration.xml
MAIRecorder/bin/Debug/MAI_v2_ExtensionDAQ_NET20_DLL.dll
MAIRecorder/bin/Debug/MAI_v2_ExtensionDAQ_NET20_DLL.pdb
MAIRecorder/bin/Debug/MAI_v2_NET20_DLL.dll
MAIRecorder/bin/Debug/MAI_v2_NET20_DLL.pdb
MAIRecorder/bin/Debug/MAI_v2_NET20_DLL.xml
MAIRecorder/bin/Debug/MAIRecorder.exe
MAIRecorder/bin/Debug/MAIRecorder.pdb
MAIRecorder/bin/Debug/MAIRecorder.vshost.exe
MAIRecorder/bin/Debug/MemoryMappedFile_NET20_DLL.dll
MAIRecorder/bin/Debug/MemoryMappedFile_NET20_DLL.pdb
MAIRecorder/bin/Debug/NI_DDC_NET20_DLL.dll
MAIRecorder/bin/Debug/NI_DDC_NET20_DLL.pdb
MAIRecorder/bin/Debug/Opc.Ua.Client.dll
MAIRecorder/bin/Debug/Opc.Ua.Core.dll
MAIRecorder/bin/Debug/OpcNetApi.Com.dll
MAIRecorder/bin/Debug/OpcNetApi.dll
MAIRecorder/bin/Debug/OpcNetApi.Xml.dll
MAIRecorder/bin/Debug/prs-AF/MAI.Controls.Configuration.resources.dll
MAIRecorder/bin/Debug/Xi.Client.Base.API.dll
MAIRecorder/bin/Debug/Xi.Common.Support.dll
MAIRecorder/bin/Debug/Xi.Contract.Constants.dll
MAIRecorder/bin/Debug/Xi.Contracts.dll
MAIRecorder/bin/Release/MAIRecorder.vshost.exe
MAIRecorder/bin/Release/MAIRecorder.vshost.exe.manifest
MAIRecorder/bin/x86/Debug/dacasr.dll
MAIRecorder/bin/x86/Debug/DataModels/USI/1_0/usi_1_0.xsd
MAIRecorder/bin/x86/Debug/DataModels/USI/TDM/1_0/USI_TDM_1_0.xml
MAIRecorder/bin/x86/Debug/DatenBank.sdf
MAIRecorder/bin/x86/Debug/de/MAI.Controls.Configuration.resources.dll
MAIRecorder/bin/x86/Debug/de/MAIRecorder.resources.dll
MAIRecorder/bin/x86/Debug/EmbeddedUSICopyrights.chm
MAIRecorder/bin/x86/Debug/hdf5dll.dll
MAIRecorder/bin/x86/Debug/MAI.Controls.Configuration.dll
MAIRecorder/bin/x86/Debug/MAI.Controls.Configuration.NET20.dll
MAIRecorder/bin/x86/Debug/MAI.Controls.Configuration.pdb
MAIRecorder/bin/x86/Debug/MAI.Controls.Configuration.xml
MAIRecorder/bin/x86/Debug/MAI.Controls.Images.dll
MAIRecorder/bin/x86/Debug/MAI.Controls.Images.pdb
MAIRecorder/bin/x86/Debug/MAI.lic
MAIRecorder/bin/x86/Debug/MAI.lic_bak
MAIRecorder/bin/x86/Debug/MAI_v2_ExtensionDAQ_NET20_DLL.dll
MAIRecorder/bin/x86/Debug/MAI_v2_ExtensionDAQ_NET20_DLL.pdb
MAIRecorder/bin/x86/Debug/MAI_v2_NET20_DLL.dll
MAIRecorder/bin/x86/Debug/MAI_v2_NET20_DLL.pdb
MAIRecorder/bin/x86/Debug/MAI_v2_NET20_DLL.xml
MAIRecorder/bin/x86/Debug/MAIRecorder.exe
MAIRecorder/bin/x86/Debug/MAIRecorder.pdb
MAIRecorder/bin/x86/Debug/MAIRecorder.vshost.exe
MAIRecorder/bin/x86/Debug/MemoryMappedFile_NET20_DLL.dll
MAIRecorder/bin/x86/Debug/MemoryMappedFile_NET20_DLL.pdb
MAIRecorder/bin/x86/Debug/NI_DDC_NET20_DLL.dll
MAIRecorder/bin/x86/Debug/NI_DDC_NET20_DLL.pdb
MAIRecorder/bin/x86/Debug/nilibddc.dll
MAIRecorder/bin/x86/Debug/Opc.Ua.Client.dll
MAIRecorder/bin/x86/Debug/Opc.Ua.Core.dll
MAIRecorder/bin/x86/Debug/OpcNetApi.Com.dll
MAIRecorder/bin/x86/Debug/OpcNetApi.dll
MAIRecorder/bin/x86/Debug/OpcNetApi.Xml.dll
MAIRecorder/bin/x86/Debug/Output.tdms
MAIRecorder/bin/x86/Debug/Output.tdms.log
MAIRecorder/bin/x86/Debug/Output.tdms_index
MAIRecorder/bin/x86/Debug/Output00001.tdms
MAIRecorder/bin/x86/Debug/Output00001.tdms_index
MAIRecorder/bin/x86/Debug/prs-AF/MAI.Controls.Configuration.resources.dll
MAIRecorder/bin/x86/Debug/sdf.csv
MAIRecorder/bin/x86/Debug/sdf.dat.DAT
MAIRecorder/bin/x86/Debug/sdf.dat.hdr
MAIRecorder/bin/x86/Debug/sdf.mairaw.MAI0
MAIRecorder/bin/x86/Debug/sdf.mairaw.MAIRAW
MAIRecorder/bin/x86/Debug/sdf.mdf
MAIRecorder/bin/x86/Debug/sdf.tdms.tdms
MAIRecorder/bin/x86/Debug/sdf.tdms.tdms_index
MAIRecorder/bin/x86/Debug/sdf.tdms00001.tdms
MAIRecorder/bin/x86/Debug/sdf.tdms00001.tdms_index
MAIRecorder/bin/x86/Debug/sdf.tdms00002.tdms
MAIRecorder/bin/x86/Debug/sdf.tdms00002.tdms_index
MAIRecorder/bin/x86/Debug/sdf.tdms00003.tdms
MAIRecorder/bin/x86/Debug/sdf.tdms00003.tdms_index
MAIRecorder/bin/x86/Debug/sdf.tdms00004.tdms
MAIRecorder/bin/x86/Debug/sdf.tdms00004.tdms_index
MAIRecorder/bin/x86/Debug/sdf.tdms00005.tdms
MAIRecorder/bin/x86/Debug/sdf.tdms00005.tdms_index
MAIRecorder/bin/x86/Debug/sdf.tdms00006.tdms
MAIRecorder/bin/x86/Debug/sdf.tdms00006.tdms_index
MAIRecorder/bin/x86/Debug/sdf.tdms00007.tdms
MAIRecorder/bin/x86/Debug/sdf.tdms00007.tdms_index
MAIRecorder/bin/x86/Debug/sdf.tdms00008.tdms
MAIRecorder/bin/x86/Debug/sdf.tdms00008.tdms_index
MAIRecorder/bin/x86/Debug/sdf.tdms00009.tdms
MAIRecorder/bin/x86/Debug/sdf.tdms00009.tdms_index
MAIRecorder/bin/x86/Debug/sdf.tdms00010.tdms
MAIRecorder/bin/x86/Debug/sdf.tdms00010.tdms.log
MAIRecorder/bin/x86/Debug/sdf.tdms00010.tdms_index
MAIRecorder/bin/x86/Debug/sdf.tdms00011.tdms
MAIRecorder/bin/x86/Debug/sdf.tdms00011.tdms_index
MAIRecorder/bin/x86/Debug/sdf.tdms00012.tdms
MAIRecorder/bin/x86/Debug/sdf.tdms00012.tdms_index
MAIRecorder/bin/x86/Debug/sdf.tdms00013.tdms
MAIRecorder/bin/x86/Debug/sdf.tdms00013.tdms.log
MAIRecorder/bin/x86/Debug/sdf.tdms00013.tdms_index
MAIRecorder/bin/x86/Debug/sdf.tdms00014.tdms
MAIRecorder/bin/x86/Debug/sdf.tdms00014.tdms.log
MAIRecorder/bin/x86/Debug/sdf.tdms00014.tdms_index
MAIRecorder/bin/x86/Debug/sdf.tdms00015.tdms
MAIRecorder/bin/x86/Debug/sdf.tdms00015.tdms.log
MAIRecorder/bin/x86/Debug/sdf.tdms00015.tdms_index
MAIRecorder/bin/x86/Debug/sdf.tdms00016.tdms
MAIRecorder/bin/x86/Debug/sdf.tdms00016.tdms.log
MAIRecorder/bin/x86/Debug/sdf.tdms00016.tdms_index
MAIRecorder/bin/x86/Debug/sdf.tdms00017.tdms
MAIRecorder/bin/x86/Debug/sdf.tdms00017.tdms_index
MAIRecorder/bin/x86/Debug/sdf.tdms00018.tdms
MAIRecorder/bin/x86/Debug/sdf.tdms00018.tdms_index
MAIRecorder/bin/x86/Debug/sdf.tdms00019.tdms
MAIRecorder/bin/x86/Debug/sdf.tdms00019.tdms_index
MAIRecorder/bin/x86/Debug/sdf.tdms00020.tdms
MAIRecorder/bin/x86/Debug/sdf.tdms00020.tdms_index
MAIRecorder/bin/x86/Debug/sdf.tdms00021.tdms
MAIRecorder/bin/x86/Debug/sdf.tdms00021.tdms_index
MAIRecorder/bin/x86/Debug/sdf.tdms00022.tdms
MAIRecorder/bin/x86/Debug/sdf.tdms00022.tdms_index
MAIRecorder/bin/x86/Debug/sdf.tdms00023.tdms
MAIRecorder/bin/x86/Debug/sdf.tdms00023.tdms.log
MAIRecorder/bin/x86/Debug/sdf.tdms00023.tdms_index
MAIRecorder/bin/x86/Debug/sdf.tdms00024.tdms
MAIRecorder/bin/x86/Debug/sdf.tdms00024.tdms.log
MAIRecorder/bin/x86/Debug/sdf.tdms00024.tdms_index
MAIRecorder/bin/x86/Debug/sdf.tdms00025.tdms
MAIRecorder/bin/x86/Debug/sdf.tdms00025.tdms_index
MAIRecorder/bin/x86/Debug/sdf.tdms00026.tdms
MAIRecorder/bin/x86/Debug/sdf.tdms00026.tdms.log
MAIRecorder/bin/x86/Debug/sdf.tdms00026.tdms_index
MAIRecorder/bin/x86/Debug/sound0_1.WAV
MAIRecorder/bin/x86/Debug/sound1_1.WAV
MAIRecorder/bin/x86/Debug/sound10_1.WAV
MAIRecorder/bin/x86/Debug/sound11_1.WAV
MAIRecorder/bin/x86/Debug/sound2_1.WAV
MAIRecorder/bin/x86/Debug/sound3_1.WAV
MAIRecorder/bin/x86/Debug/sound4_1.WAV
MAIRecorder/bin/x86/Debug/sound5_1.WAV
MAIRecorder/bin/x86/Debug/sound6_1.WAV
MAIRecorder/bin/x86/Debug/sound7_1.WAV
MAIRecorder/bin/x86/Debug/sound8_1.WAV
MAIRecorder/bin/x86/Debug/sound9_1.WAV
MAIRecorder/bin/x86/Debug/stlport.5.0.dll
MAIRecorder/bin/x86/Debug/tdms_ebd.dll
MAIRecorder/bin/x86/Debug/temp.csv
MAIRecorder/bin/x86/Debug/uds.dll
MAIRecorder/bin/x86/Debug/USI_STLport_Notice.txt
MAIRecorder/bin/x86/Debug/USI_Xerces_License.txt
MAIRecorder/bin/x86/Debug/USI_Xerces_Notice.txt
MAIRecorder/bin/x86/Debug/usiEx.dll
MAIRecorder/bin/x86/Debug/usiPluginTDM.dll
MAIRecorder/bin/x86/Debug/uspTdms.dll
MAIRecorder/bin/x86/Debug/xerces-c_2_8_usi.dll
MAIRecorder/bin/x86/Debug/Xi.Client.Base.API.dll
MAIRecorder/bin/x86/Debug/Xi.Common.Support.dll
MAIRecorder/bin/x86/Debug/Xi.Contract.Constants.dll
MAIRecorder/bin/x86/Debug/Xi.Contracts.dll
MAIRecorder/bin/x86/Release/dacasr.dll
MAIRecorder/bin/x86/Release/DataModels/USI/1_0/usi_1_0.xsd
MAIRecorder/bin/x86/Release/DataModels/USI/TDM/1_0/USI_TDM_1_0.xml
MAIRecorder/bin/x86/Release/de/MAI.Controls.Configuration.NET20.resources.dll
MAIRecorder/bin/x86/Release/EmbeddedUSICopyrights.chm
MAIRecorder/bin/x86/Release/hdf5dll.dll
MAIRecorder/bin/x86/Release/MAI.Controls.Configuration.NET20.dll
MAIRecorder/bin/x86/Release/MAI.Controls.Configuration.NET20.pdb
MAIRecorder/bin/x86/Release/MAI.Controls.Configuration.NET20.xml
MAIRecorder/bin/x86/Release/MAI.Controls.Images.dll
MAIRecorder/bin/x86/Release/MAI.Controls.Images.pdb
MAIRecorder/bin/x86/Release/MAI_v2_ExtensionDAQ_NET20_DLL.dll
MAIRecorder/bin/x86/Release/MAI_v2_ExtensionDAQ_NET20_DLL.pdb
MAIRecorder/bin/x86/Release/MAI_v2_ExtensionDAQ_NET20_DLL.xml
MAIRecorder/bin/x86/Release/MAI_v2_NET20_DLL.dll
MAIRecorder/bin/x86/Release/MAI_v2_NET20_DLL.pdb
MAIRecorder/bin/x86/Release/MAI_v2_NET20_DLL.xml
MAIRecorder/bin/x86/Release/MAIRecorder.exe
MAIRecorder/bin/x86/Release/MAIRecorder.pdb
MAIRecorder/bin/x86/Release/MAIRecorder.vshost.exe
MAIRecorder/bin/x86/Release/MAIRecorder.vshost.exe.manifest
MAIRecorder/bin/x86/Release/MemoryMappedFile_NET20_DLL.dll
MAIRecorder/bin/x86/Release/MemoryMappedFile_NET20_DLL.pdb
MAIRecorder/bin/x86/Release/NI_DDC_NET20_DLL.dll
MAIRecorder/bin/x86/Release/NI_DDC_NET20_DLL.pdb
MAIRecorder/bin/x86/Release/nilibddc.dll
MAIRecorder/bin/x86/Release/Opc.Ua.Client.dll
MAIRecorder/bin/x86/Release/Opc.Ua.Core.dll
MAIRecorder/bin/x86/Release/OpcNetApi.Com.dll
MAIRecorder/bin/x86/Release/OpcNetApi.dll
MAIRecorder/bin/x86/Release/OpcNetApi.Xml.dll
MAIRecorder/bin/x86/Release/prs-AF/MAI.Controls.Configuration.NET20.resources.dll
MAIRecorder/bin/x86/Release/stlport.5.0.dll
MAIRecorder/bin/x86/Release/System.Windows.Forms.DataVisualization.dll
MAIRecorder/bin/x86/Release/tdms_ebd.dll
MAIRecorder/bin/x86/Release/uds.dll
MAIRecorder/bin/x86/Release/USI_STLport_Notice.txt
MAIRecorder/bin/x86/Release/USI_Xerces_License.txt
MAIRecorder/bin/x86/Release/USI_Xerces_Notice.txt
MAIRecorder/bin/x86/Release/usiEx.dll
MAIRecorder/bin/x86/Release/usiPluginTDM.dll
MAIRecorder/bin/x86/Release/uspTdms.dll
MAIRecorder/bin/x86/Release/xerces-c_2_8_usi.dll
MAIRecorder/bin/x86/Release/Xi.Client.Base.API.dll
MAIRecorder/bin/x86/Release/Xi.Client.Base.API.xml
MAIRecorder/bin/x86/Release/Xi.Common.Support.dll
MAIRecorder/bin/x86/Release/Xi.Common.Support.xml
MAIRecorder/bin/x86/Release/Xi.Contract.Constants.dll
MAIRecorder/bin/x86/Release/Xi.Contract.Constants.xml
MAIRecorder/bin/x86/Release/Xi.Contracts.dll
MAIRecorder/bin/x86/Release/Xi.Contracts.xml
